.app {
    width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 36px;
}

.main {
    min-height: 400px;
    max-height: 600px;
    overflow: scroll;
    background: #FFFFFF;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    border-radius: 10px;
    margin-top: 8px;
}

